* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    height: 55vh;
    background-color: #1f2937;
    padding: 0 15vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 0;
    height: 5vh;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.navlinks {
    display: flex;
    list-style-type: none;
}

.navlink {
    margin: 0 8px;
}

.navlink-sub {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
}

.hero-section > div {
    width: 40%;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.hero-info {
    color: #e5e7eb;
    margin: 8px 0;
    font-size: 18px;
}

.btn-1 {
    margin: 8px 0;
    padding: 8px 32px;
    border-radius: 8px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.hero-image {
    width: 600px;
    height: 250px;
    background-color: #777;
    font-size: 18px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustrations {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}

.illustration-title {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    margin-top: 32px;
}

.illustration-images {
    display: flex;
}

.illustration {
    width: 150px;
    margin: 32px;
}

.illustration-image {
    border: 3px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.illustration-info {
    margin-top: 8px;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16vh 16vw;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote-author {
    font-size: 24px;
    font-style: normal;
    align-self: flex-end;
}